/* Mobile Styles */
@media (max-width: 768px) {
    /* Navbar */
    .navbar-menu {
      display: none;
    }
    .navbar-menu-open {
      display: block;
    }
    .navbar-side.is-fixed {
      position: fixed;
    }
    .navbar-close {
      display: block !important;
    }
  
    /* Main Content */
    .min-h-screen.flex {
      padding: 2rem;
    }
  
    /* Cards */
    .grid.grid-cols-2 {
      display: flex;
      flex-direction: column;
    }
    .bg-white.shadow-md.rounded-lg.p-6 {
      margin-bottom: 1rem;
    }
  
    /* Zoom Effect */
    .bg-white.shadow-md.rounded-lg.p-6:hover img {
      transform: scale(1.1); /* Adjust the zoom factor as needed */
      transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    }
  }
  